//this is where we put global styles and change variable values

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$light: #f8f8f8;
$dark-green: rgb(0,100,80);

//update bulmas global variables

$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

//ipdate some of bulmas component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//set custom global styles jeita entire app e applied

html{
    background: linear-gradient(to right, $turquoise, $green);

}


html, body{
    height:100%;
}
