<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Update inventory form</h2>
  <!-- <form action="/action_page.php"> -->
    <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter name" name="item-name" [(ngModel)]="myitem.name">
    </div>
    <div class="form-group">
      <label for="quantity">quantity:</label>
      <input type="quantity" class="form-control" id="quantity" placeholder="Enter quantity" name="item-quantity" [(ngModel)]="myitem.quantity">
    </div>
    <div class="form-group">
        <label for="price">price:</label>
        <input type="price" class="form-control" id="price" placeholder="Enter price" name="item-price" [(ngModel)]="myitem.price">
      </div>
    <button type="submit" class="btn btn-default" (click)="update()">Submit</button>
  </form>
</div>

</body>
</html>

